/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

html, body
{
	font-size: 14px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	background: #000;
	color: #fff;
}

header
{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

	background: url('../img/header_background.png') no-repeat center center;
	width: 100%;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

@-webkit-keyframes bob
{
  0%   { margin-top: 10px; margin-bottom: 10px; }
	50%  { margin-top: 20px; margin-bottom: 0px; }
	100% { margin-top: 10px; margin-bottom: 10px; }
}
@keyframes bob
{
  0%   { margin-top: 10px; margin-bottom: 10px; }
	50%  { margin-top: 20px; margin-bottom: 0px; }
	100% { margin-top: 10px; margin-bottom: 10px; }
}

.wand-wars
{
	margin: 0 auto;
	padding: 2em 0 1em;
	text-align: center;
	max-width: 760px;
}

.wand-wars #logo
{
	-webkit-animation: bob 3s infinite;
	animation: bob 3s infinite;
	width: 100%;
}

.wand-wars ul
{
	margin-top: -5em;
	text-align: center;
  display: inline-block;
  padding-bottom: 2em;
}

.wand-wars ul li
{
	display: inline-block;
	padding: 0 0.5em;
}

.wand-wars ul li img
{
	margin: 1em auto;
	display: block;
}

.wand-wars ul li a
{
	display: block;
	color: #fff;
	font-size: 1.25em;
	padding: 0.25em 2em;
	margin-bottom: 0.25em;
	margin-top: 0em;
	text-transform: uppercase;
}

.wand-wars ul li a:hover
{
	opacity: 0.8;
	color: #dadada;
}

.content-row
{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

	content: "";
  display: table;
  clear: both;

	margin: 0 auto;
	padding: 3em 1.5em;
	max-width: 960px;
	font-size: 1.25em;
}

.about
{
	width: 70%;
}

.col
{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
	padding-right: 10%;
	float: left;
}

.screenshots
{
	margin-left: -19px;
}

.screenshots a
{
	display: inline-block;
	margin-top: 2em;
	margin-bottom: 1em;
	border-radius: 2px;
	width: 158px;
	margin-left: 19px;
}

.screenshots img
{
	width: 100%;
}

.right-col
{
	width: 30%;
	padding: 0;
}

.grundelf
{
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: left;
}

.fa
{
	margin-right: 5px;
}

.who
{
	margin-bottom: 2em;
}

.who li
{
	margin-bottom: 1em;
}

.who .name
{
	text-transform: uppercase;
	font-size: 1em;
	line-height: 1.5em;
}

.who img
{
	vertical-align: middle;
	border-radius: 3px;
	width: 3em;
	height: 3em;
	margin-right: 1em;
	transition: margin 0.2s ease;
}

.who a
{
	transition: color 0.2s ease;
	color: #fff;
}

.who a:hover
{
	color: #46d;
}

.who a:hover img
{
	margin-right: 0.5em;
}

.soundcloud-embed
{
	padding-top: 2em;
}

.soundcloud-embed .g-background-default
{
	background: #dadada;
}

.soundcloud-embed iframe
{
	margin-bottom: 2em;
}

.newsletter-signup
{
	margin-bottom: 2em;
}

.newsletter-signup input
{
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	color: #fff;
}

.mc-field-group
{
	margin-bottom: 1em;
}

.mc-field-group h1
{
	margin-bottom: 0.5em;
}

#mce-EMAIL
{
	background: #000;
	border: 0;
	border-bottom: 1px solid #dadada;
	padding: 0.5em 0;
	width: 190px;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#mc-embedded-subscribe
{
	padding: 0.4em 0.5em;
	background: #024;
	border-radius : 5px;
	border: 0;
	width: 190px;
	font-size: 1.25em;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#mc-embedded-subscribe:hover
{
	background: #07f;
}

#mc-embedded-subscribe:hover
{
	cursor: pointer;
}

a.white-link
{
	color: #fff;
}

a.white-link:hover
{
	color: #07f;
}

strong
{
	font-weight: 700;
}

p
{
	font-weight: 400;
	margin-top: 1em;
	line-height: 1.6em;
	margin-bottom: 1em;
}

h1
{
	font-weight: 400;
	font-size: 1.75em;
	margin-bottom: 1.5em;
}

a
{
	color: #46d;
	text-decoration: none;
}

@media screen and (max-width: 980px)
{
	.about, .who
	{
		width: 100%;
		float: none;
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 600px)
{
	html, body
	{
		font-size: 12px;
	}
}