/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

html, body
{
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background: #000;
	color: #fff;
}

header
{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

	background: url('../img/Wand_Wars_header_background.png') no-repeat center center;
	width: 100%;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

@-webkit-keyframes bob
{
  0%   { margin-top: 20px; margin-bottom: 20px; }
	50%  { margin-top: 40px; margin-bottom: 0px; }
	100% { margin-top: 20px; margin-bottom: 20px; }
}
@keyframes bob
{
  0%   { margin-top: 20px; margin-bottom: 20px; }
	50%  { margin-top: 40px; margin-bottom: 0px; }
	100% { margin-top: 20px; margin-bottom: 20px; }
}

.wand-wars
{
	margin: 0 auto;
	padding: 5em 0 7em;
	text-align: center;
	max-width: 1107px;
}

.wand-wars img
{
	-webkit-animation: bob 3s infinite;
	animation: bob 3s infinite;
	width: 100%;
}

.wand-wars ul
{
	margin: 4em auto -2em;
	height: 4em;
	text-align: center;

	content: "";
  display: table;
  clear: both;
}

.wand-wars ul li
{
	float: left;
	padding: 0 0.5em;
	height: 4em;
}

.wand-wars ul li a
{
	opacity: 0.9;
	height: 1em;
	display: block;
	color: #46d;
	background: #000;
	font-size: 1.25em;
	border-radius: 0.3em;
	padding: 0.25em 2em;
	margin-bottom: 0.25em;
	margin-top: 0em;

	box-shadow: 0 0.25em 0 #46d;
}

.wand-wars ul li a:hover
{
	color: #fff;
	box-shadow: 0 0 0 #46d;
	margin-top: 0.25em;
	margin-bottom: 0;

	transition: margin 0.1s ease-in-out, box-shadow 0.1s ease-in-out, color 0.1s ease;
	-webkit-transition: margin 0.1s ease-in-out, box-shadow 0.1s ease-in-out, color 0.1s ease;
	-moz-transition: margin 0.1s ease-in-out, box-shadow 0.2s ease-in-out, color 0.1s ease;
}

.content-row
{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

	content: "";
  display: table;
  clear: both;

	margin: 0 auto;
	padding: 3em 1.5em;
	max-width: 960px;
	font-size: 1.25em;
}

.about
{
	width: 70%;
}

.col
{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
	padding-right: 10%;
	float: left;
}

.who
{
	width: 30%;
	padding: 0;
}

.who li
{
	margin-bottom: 1.5em;
}

.who .name
{
	font-size: 1.25em;
	line-height: 1.5em;
}

.who img
{
	vertical-align: middle;
	border-radius: 1em;
	width: 2em;
	height: 2em;
	margin-right: 1em;
	transition: margin 0.2s ease;
}

.who a
{
	transition: color 0.2s ease;
	color: #fff;
}

.who a:hover
{
	color: #46d;
}

.who a:hover img
{
	margin-right: 0.5em;
}

strong
{
	font-weight: 700;
}

p
{
	font-weight: 300;
	margin-top: 1em;
	line-height: 1.6em;
}

h1
{
	font-weight: 400;
	font-size: 1.75em;
	margin-bottom: 1em;
}

a
{
	color: #46d;
	text-decoration: none;
}

@media screen and (max-width: 980px)
{
	.about, .who
	{
		width: 100%;
		float: none;
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 600px)
{
	html, body
	{
		font-size: 80%;
	}
}